.button-container {
    display: flex;
    background-image:linear-gradient(105deg,#6420AA,#0E46A3);
    width: 280px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
      rgba(0, 73, 144, 0.5) 5px 10px 15px;
    transition: all 0.5s;
  }
  .button-container:hover {
    width: 300px;
    transition: all 0.5s;
  }
  
  .button-g {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button-g:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }
  